button {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--dsct-color-text-quaternary);
    background-color: var(--dsct-color-bg-button);
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 40px;
    margin-top: 35px;
}